<div class="navbar py-0 navbar-expand-sm navbar-light navbar-lewagon  fixed-top" >
  <div class="container-fluid shadow p-2 rounded">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_path("Logo4.png"), alt: "Logo", class: "img-fluid custom-logo-size", style: "width: 80px;" %>
    <% end %>


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="row justify-content-center ">
    <div class="col-sm-8 my-3 w-100">
      <%= form_with url: products_path, method: :get, class: "d-flex search-bar" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control col-8",
              placeholder: "Busca un producto"%>
        <%= button_tag(type: 'submit', class: "btn btn-light", name: "") do %>
          <i class="fa fa-search" style="color: black;"></i>
        <% end %>
      <% end %>
    </div>
  </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Productos", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Puntos de reciclaje", recycle_points_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Carrito de compra", "/carts/:id", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached?%>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else  %>
              <%= image_tag "empty_user.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mis productos", my_products_path, class: "dropdown-item" %>
              <%= link_to "Mis órdenes", "/orders", class: "dropdown-item" %>
              <%= link_to link_to "Perfil de usuario", "/users/#{current_user.id}", class: "dropdown-item" %>
              <%= link_to "Cerrar sesión",  destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

            </div>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Productos", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Puntos de reciclaje", recycle_points_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Inicia sesión", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
