
  <div class="content-session">
    <%= link_to "Regresar a productos", products_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>

  <div class="container mt-1">
    <div class="container mt-1">
      <h4 class="order-number">Número de pedido: <%= @order.id %></h4>
      <p class="order-status">Estado: <%= display_order_status(@order.status) %></p>
    </div>

    <div class="container mt-3">
      <% @order.selected_products.each do |selected_product| %>
        <div class="card mb-3 card-hover shadow p-3 mb-5">
          <div class="row g-0">
            <div class="col-md-4 r">
              <% if selected_product.product.photo.attached? %>
                <%= image_tag selected_product.product.photo, class: 'product-image', height: 200, width: 300, crop: :fill  %>
              <% else %>
                <p>No image available</p>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= selected_product.product.title %></h5>
                <p class="product-description"><%= selected_product.product.description %></p>
                <p class="card-text">
                  <small class="text-muted">Número de serie: <%= selected_product.product.id %></small>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <label class="text-muted">Precio:</label>
                    <span class="text-muted"><%= number_to_currency(selected_product.price) %></span>
                  </div>
                  <div>
                    <label class="text-muted">Total:</label>
                    <span class="text-muted"><%= number_to_currency(selected_product.calculate_total_due([selected_product])) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-end mb-3">
      <div class="text-end">
        <h3 class="product-total-title">Total: <%= number_to_currency(@total_due) %></h3>
        <%= link_to "Ir a todos mis pedidos", orders_path, class: "btn btn-primary btn-sm btn-custom" %>
      </div>
    </div>
  </div>
