<div class="container content-user">
  <div class="row d-flex justify-content-center mt-3 rounded-2">
    <h1 class="h1-cart text-center pt-5" style="text-shadow: 1px 1px 1px #000000;">Carrito de compras</h1>
  </div>

  <div class="container mt-3 ">
    <% if @cart.selected_products.empty? %>
      <p class="text-center">No has agregado ningún producto al carrito</p>
    <% else %>
      <% @cart.selected_products.each do |selected_product| %>
        <div class="card mb-3 rounded-4 custom-card-background shadow p-3">
          <div class="row g-0">
            <div class="col-md-4 r">
              <% if selected_product.product.photo.attached? %>
                <%= image_tag selected_product.product.photo, class: 'product-image', height: 200, width: 300, crop: :fill  %>
              <% else %>
                <p>No image available</p>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= selected_product.product.title %></h5>
                <p class="product-description"><%= selected_product.product.description %></p>
                <p class="card-text">
                  <small class="text-muted">No. de inventario: <%= selected_product.product.id %></small>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <label class="text-muted">Precio:</label>
                    <span class="text-muted"><%= number_to_currency(selected_product.price) %></span>
                  </div>
                  <div>
                    <label for="quantity-<%= selected_product.id %>" class="text-muted">Cantidad:</label>
                    <%= form_with model: selected_product, url: carts_update_product_path(product: selected_product), method: :post, local: true do |form| %>
                     <%= form.hidden_field :_method, value: "put" %>
                     <%= form.number_field :quantity, class: "form-control quantity-input", min: 0 %>
                     <%= form.submit 'Actualizar cantidad', class: "btn btn-outline-secondary btn-sm mt-2" %>
                    <% end %>
                  </div>
                  <div>
                    <%= form_with model: selected_product, url: selected_product_path(selected_product), method: :delete, local: true do |form| %>
                      <%= form.submit 'Quitar producto', class: "btn btn-outline-secondary btn-sm", data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                  <div>
                    <label class="text-muted">Total:</label>
                    <span class="text-muted"><%= number_to_currency(selected_product.calculate_total_due([selected_product])) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if !@cart.selected_products.empty? %>
    <div class="container mt-3">
      <div class="card mb-3 p-3">
        <h5 class="card-title">Saldo de Green Money</h5>
        <p class="card-text">
          Tu saldo Green Money actual es de <%= number_to_currency(current_user.total_virtual_cash) %>.
        </p>
      </div>

      <%= form_with(model: @cart, url: apply_discount_cart_path, method: :post, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :discount_amount, "¿Cuánto Green Money quieres utilizar? (Máximo: $#{@max_discount})" %>
          <%= form.hidden_field :_method, value: "put" %>
          <%= form.number_field :discount_amount, class: "form-control", step: "any", value: @cart.discount_amount || 0 %>
        </div>
        <%= form.submit "Aplicar descuento", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>

    <div class="container mt-3">
      <div class="card p-3">
        <h5 class="card-title">Green Money proporcionado</h5>
        <p class="card-text">
          Esta compra proporcionará <%= number_to_currency(@cart.total_virtual_cash) %> en Green Money.
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div class="text-end pb-5">
        <h3 class="product-total-title">
          Total: <%= number_to_currency(@cart.total_due) %>
        </h3>
        <%= button_to 'Comprar', orders_path, class: 'btn btn-return btn-lg' %>
      </div>
    </div>
  <% end %>
</div>
