<div class="container mt-3 position-relative ">
  <div class="row">
    <div class="col-12">
       <h1 class="title-card">
        Find the product you want
        <i class="fas fa-heart" style="font-size: 25px"></i>
      </h1>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @products.count %> products out of our <%= Product.count %> on our website.</p>
      <% else %>
        <p>All <%= Product.count %> products.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container pt-3">
  <% if user_signed_in? %>
    <%= link_to "Add a Product", new_product_path, class: "btn btn-danger mb-1" %>
  <% end %>
</div>

<div class="container pt-1">
    <%= link_to "Return Home", root_path, class: "btn btn-return btn-m" %>
</div>

<div class="container pt-3">
  <div class="row justify-content-center pb-5">
        <% @products.each do |product| %>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4 rounded-4 custom-card-background card-hover m-0.5">
            <div class="card h-100 d-flex flex-column border-0 rounded-4">
              <%= image_tag product.photo, class: 'card-img-top  rounded-top-4', style: 'object-fit: cover; height: 150px;' if product.photo.attached? %>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text flex-grow-1"><%= product.description %></p>
                <%= link_to 'Ver más', product_path(product), class: 'ver-mas' %>
                <p class="card-text"><strong>Precio:</strong> <%= number_to_currency(product.price) %></p>
              </div>
              <div class="mt-auto p-3">
                <%= link_to 'Ver Producto', product_path(product), class: 'btn btn-custom' %>
            <%#= link_to "Add to cart", cart_products_path(@product), class: "btn btn-danger text-white"%>
                <% if user_signed_in? %>
                  <% if current_user.id != product.user_id %>
                    <form action="/selected_products" method="POST" data-turbo="false">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <%= hidden_field_tag :product_id, product.id %>
                      <div class="pt-1">
                        <input type="submit" value="Add to cart", class= "btn btn-custom">
                      </div>
                    </form>
                  <% end  %>

                    <% else %>
                      <div class=" pt-1">
                        <%= link_to "Sign in to Add to Cart", new_user_session_path, class: "btn btn-custom" %>
                      </div>
                    <% end %>

                <% if product.user == current_user %>
                  <%= link_to "Edit", edit_product_path(product), class: "btn btn-custom me-1" %>
                  <%= link_to "Remove", product_path(product),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "btn btn-custom  " %>
                <% end %>
              </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
