

<div class="container content-center show-products">
  <%= link_to "Return to Products", products_path, class: "btn btn-return btn-m " %>
  <%= link_to "Return Home", root_path, class: "btn btn-return btn-m my-2" %>

  <div class="row shadow p-3 mb-5 bg-white rounded-4 custom-card-background card-shadow">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class: 'img-fluid', height: 300, width: 300, crop: :fill %>
      <% else %>
        <%= image_tag "imgnotavailable.png", class: 'img-fluid' %>
      <% end %>
    </div>

    <div class="col-md-6">
      <h2><%= @product.title %></h2>
      <p><strong>Details:</strong> <%= @product.details %></p>
      <p><strong>Description:</strong> <%= @product.description %></p>
      <p><strong>Category:</strong> <%= @product.category %></p>
      <p><strong>Quantity:</strong> <%= @product.quantity %></p>
      <p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
      <p><strong>Virtual Cash:</strong> <%= @product.virtual_cash %></p>

      <% if user_signed_in?%>
        <% if current_user.id != @product.user_id %>
          <form action="/selected_products" method="POST" data-turbo="false">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :product_id, @product.id %>
            <input type="submit" value="Add to cart", class= "btn btn-danger  btn-custom">
          </form>
        <% end  %>
        <% else %>
           <%= link_to "Sign in to Add to Cart", new_user_session_path, class: "btn btn-custom" %>

     <% end %>
    </div>
  </div>

  <div class="card shadow mb-5 bg-white rounded-4 custom-card-background">
    <div class="card-body">
      <h3>Reviews</h3>
      <% if @product.reviews.empty? %>
        <p class="text-muted">Be the first one to review this product</p>
      <% else %>
        <% @product.reviews.each do |review| %>
          <div class="review">
            <div class="rating">
              <% review.rating.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            </div>
            <p><%= review.comment %></p>
            <small><%= time_ago_in_words(review.created_at) %> ago</small>
            <hr>
          </div>
        <% end %>
      <% end %>

      <h5>Add your review</h5>
      <%= simple_form_for [@product, Review.new] do |f| %>
        <%= f.input :comment, placeholder: "Add your review here..." %>
        <%= f.input :rating, as: :select, collection: 1..5, prompt: "Choose a rating" %>
        <%= f.submit "Submit Review", class: "btn btn-custom" %>
      <% end %>
    </div>
  </div>
</div>
